.navigation{
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 20;
    width: 100%;
    background-color: var(--surface-translucent);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.02);
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.02);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.02);
}
.navigation-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-xxs) 0;
}
.site-logo{
    width: 32px;
    height: 32px;
}
.site-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxs);
}

.desktop-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
}

.mobile-menu{
    display: none;
    top: 0%;
}

@media (max-width: 768px) {
    .desktop-menu{
        display: none;
    }
    .mobile-menu{
        display: flex;  
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: var(--spacing-s);
        background-color: var(--surface-1);
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 0%;
        border-bottom: 1px solid var(--divider);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px;
    }
    .mobile-menu.open{
        top: 100%;
    }
}