.tab-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-s);
}

.tab-container:hover{
    background-color: var(--surface-0-hover);
}

.tab{
    border: none;
    background-color: transparent;
    padding: var(--spacing-xxs) var(--spacing-xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text-neutral-secondary);
}
.tab:hover{
    cursor: pointer;
}

.tab-indicator{
    width: 0px;
    height: 3px;
    background-color: transparent;
    border-radius: var(--radius-s);
    transition: 200ms ease-in-out;
}

.tab:hover + .tab-indicator{
    width: 20px;
    background-color: var(--text-neutral-placeholder);
}

.tab.active{
    font-weight: 600;
    color: var(--text-neutral-primary);
}
.tab.active + .tab-indicator{
    width: 20px;
    background-color: var(--accent);
}
.tab.active:hover + .tab-indicator{
    width: 28px;
    background-color: var(--accent-hover);
}