.cover{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cover-media-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cover-media, .cover-media-mobile{
    width: 100%;
}

.mode-support-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-xs) 0;
    background-color: var(--surface-1);
}
.mode-support-banner-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--spacing-s);
}
.mode-support-banner p{
    width: 100%;
}

/* Custom Color */
.cover.lmwn{
    background: linear-gradient(67deg, #0577A4 20.54%, #27AC76 57.87%);
}